*{
    margin: 0px;
    box-sizing: border-box;
}
 body{
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    box-sizing: border-box;
}  
.wrapper{
    width: 400px;
    height: 560px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
display: none;
position: fixed;
z-index: 9;
}
.box{
    width: 400px;
    height: 250px;
    background-color: #f5821f;
    border-radius: 20px 20px 0px 0px;
    position: relative;
animation-name: example;
animation-duration: 1s;
}
@keyframes example{

from {background-color: #f5821f;}
to {background-color: white;}
}
#p{
  width: 60px;
  height: 60px;
  background-color: #f5821f;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 30px;
z-index: 1;
}
#robot{
  margin: 10px;
  color: white;
  font-size: 30px;
}

.sect{
    position: relative;
    bottom:60px;
    left: 23px;
    width: 350px;
    height:350px;
    background-color: white;
    border:1px solid black;
}
h5,input{
    margin-top: 20px;
    margin-left: 40px;
}
input[type=text]{
        padding: 5px;
    border-radius: 12px;
}

input[type=text]:hover{
    border: 2px solid blue;
}
#icon{
  position: relative;
  right: 285px;
  box-shadow: 3px 3px 3px gray;
   
}

#one{
  animation: cssAnimation 0s 2s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}
#two{
  animation: cssAnimation 0s 3s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}
#three{
  animation: cssAnimation 0s 4s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}
#four{
  animation: cssAnimation 0s 5s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}
          
  
              

#icon:hover{
  color: blue;
}
#btn{
    margin-top: 20px;
    margin-left: 85px;
    border-radius: 20px;
}
#btn:hover{
    border: 2px solid blue;

}

#btn{
  animation: cssAnimation 0s 6s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}
.pagination{
    position: relative;
    bottom: -10px;
    left: 160px;
}
.pagination a{
    text-decoration: none;
    color: white;
}


.pagination::after {
   
    content: counter(count);
    animation: counter 6s forwards ;
    counter-reset: count 0;
  }
  
  @keyframes counter {
    0% {
      counter-increment: count 0;
    }
    12% {
      counter-increment: count 1;
    }
  24% {
      counter-increment: count 2;
    }
    36% {
      counter-increment: count 3;
    }
    48% {
      counter-increment: count 4;
    }
    60% {
      counter-increment: count 5;
    }
    70% {
      counter-increment: count 6;
    }
    80% {
      counter-increment: count 7;
    }
    90% {
      counter-increment: count 8;
    }
    100% {
      counter-increment: count 9;
    }
  
  }
  .click{
   
position: fixed;
top: 500px;
right: 100px;
  }
 #assistant{
    width: 170px;
   padding: 5px;
   border-radius: 20px;
  }
#msg{
  font-size: 100px;
}
  
@media(max-width:500px){

.wrapper{
    width: 100%;
    height: 560px;
   
    border: 1px solid black;
    border-radius: 20px;
display: none;
position: fixed;
z-index: 9;
}
.box{
    width: 100%;
    height: 250px;
    background-color: #f5821f;
    border-radius: 20px 20px 0px 0px;
    position: relative;
animation-name: example;
animation-duration: 1s;
}
@keyframes example{

from {background-color: #f5821f;}
to {background-color: white;}
}
#p{
  width: 60px;
  height: 60px;
  background-color: #f5821f;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 30px;
z-index: 1;
}
#robot{
  margin: 10px;
  color: white;
  font-size: 30px;
}

.sect{
    position: relative;
    bottom:60px;
    left: 23px;
    width: 400px;
    height:350px;
    background-color: white;
    border:1px solid black;
}
h5,input{
    margin-top: 20px;
    margin-left: 40px;
}
input[type=text]{
        padding: 5px;
    border-radius: 12px;
}

input[type=text]:hover{
    border: 2px solid blue;
}
#icon{
  position: relative;
  right: 285px;
  box-shadow: 3px 3px 3px gray;
   
}

#one{
  animation: cssAnimation 0s 2s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}
#two{
  animation: cssAnimation 0s 3s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}
#three{
  animation: cssAnimation 0s 4s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}
#four{
  animation: cssAnimation 0s 5s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}
          
  
              

#icon:hover{
  color: blue;
}
#btn{
    margin-top: 20px;
    margin-left: 85px;
    border-radius: 20px;
}
#btn:hover{
    border: 2px solid blue;

}

#btn{
  animation: cssAnimation 0s 6s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}
.pagination{
    position: relative;
    bottom: -10px;
    left: 160px;
}
.pagination a{
    text-decoration: none;
    color: white;
}


.pagination::after {
   
    content: counter(count);
    animation: counter 6s forwards ;
    counter-reset: count 0;
  }
  
  @keyframes counter {
    0% {
      counter-increment: count 0;
    }
    12% {
      counter-increment: count 1;
    }
  24% {
      counter-increment: count 2;
    }
    36% {
      counter-increment: count 3;
    }
    48% {
      counter-increment: count 4;
    }
    60% {
      counter-increment: count 5;
    }
    70% {
      counter-increment: count 6;
    }
    80% {
      counter-increment: count 7;
    }
    90% {
      counter-increment: count 8;
    }
    100% {
      counter-increment: count 9;
    }
  
  }
  .click{
   
position: fixed;
top: 583px;
right: 100px;
  }
 #assistant{
    width: 60px;
   padding: 3px;
   border-radius: 10px;
  }
#msg{
  font-size: 40px;
}
}
